/*
Login Page
---------------------------------------------------------------------------------------------------- */


body.login {
  background-color:#EEE;
  /*background-image: url('home-bg.jpg');*/
  /*background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;*/
}


.login h1 a {
  background-image: url('login-logo.png');
  background-repeat:no-repeat;
  background-size:contain;
  width:150px;
  height:150px;
  border-radius : 50%; 
  box-shadow : 5px 5px 5px #444;
}
